
/*reset*/

body, dd, dl, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, ol, p, select, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}



*{
	font-size: 15px;
}
.category {
	font-weight: 600;
	padding-left: 10px;
	border-left: 3px solid limegreen;
}
.bold {
	font-weight: 600;
}

/* 浮动 */
.clr {
	clear: both;
}

/* 边框 */
.border1 {
	border: 1px solid #e7e6e6;
}
.border-b1 {
	border-bottom: 1px solid #f6f6f6;
}
.border-no {
	border: none;
}
.border-dashed-2 {
	border: 2px dashed #ffff00;
}
.border-tb1 {
	border-top: 1px solid #e6e4e4;
	border-bottom: 1px solid #e6e4e4;
}
.border-t1 {
	border-top: 1px solid #D5D4D4;
}

/* 字体大小 */
.fnts12 {
	font-size: 12px;
}
.fnts14 {
	font-size: 14px;
}
.fnts16 {
	font-size: 16px;
}
.fnts18 {
	font-size: 18px;
}
.fnts20 {
	font-size: 20px;
}
.fnts30 {
	font-size: 30px;
}

/* padding */
.pd5{
	padding: 5px!important;
}
.pd10 {
	padding: 10px;
}
.pd15 {
	padding: 15px;
}
.pd20 {
	padding: 20px;
}
.pdlr35 {
	padding-left: 35px;
	padding-right: 35px;
}
.pdlr5 {
	padding-left: 5px;
	padding-right: 5px;
}
.pdlr10 {
	padding-left: 10px;
	padding-right: 10px;
}
.pdlr15 {
	padding-left: 15px;
	padding-right: 15px;
}
.pdtb6 {
	padding-top: 6px;
	padding-bottom: 6px;
}
.pdtb10 {
	padding-top: 10px;
	padding-bottom: 7px;
}
.pdtb15 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.pdtb20 {
	padding-top: 20px;
	padding-bottom: 20px;
}
.pdtb30 {
	padding-top: 30px;
	padding-bottom: 30px;
}
.pdt8{
	padding-top: 8px;
}
.pdt45 {
	padding-top: 45px;
}
.pdt60 {
	padding-top: 60px;
}
.pdl5 {
	padding-left: 5px;
}
.pdl10{
	padding-left: 10px;
}
.pdb35 {
	padding-bottom: 35px;
}
.pdb10 {
	padding-bottom: 10px;
}
.pdb5 {
	padding-bottom: 5px;
}

/* margin */
.mg10 {
	margin: 10px;
}
.mg20 {
	margin: 20px;
}
.mgt-55 {
	margin-top: -55px;	
}
.mgt5 {
	margin-top: 5px;
}
.mgt10 {
	margin-top: 10px;
}
.mgt13 {
	margin-top: 13px;
}
.mgt20 {
	margin-top: 20px;
}
.mgb10 {
	margin-bottom: 10px;
}
.mgr5 {
	margin-right: 5px;
}
.mgr10 {
	margin-right: 10px;
}
.mgr20 {
	margin-right: 20px;
}
.mgr100 {
	margin-right: 100px;
}
.mgl10 {
	margin-left: 10px;
}
.mgl20 {
	margin-left: 20px;
}
.mgl40 {
	margin-left: 40px;
}
.mgl50 {
	margin-left: 50px;
}


/* 宽度 */
.wdp100 {
	width: 100%!important;
}
.wdp49 {
	width: 49%!important;
}
.wdp73 {
	width: 73%!important;
}
.wdp65 {width: 65%!important;}

/* 高度 */
.height20 {
	height: 40px;
}
.height50 {
	height: 70px;
}
.height130 {
	height: 130px;
}
.height150 {
	height: 150px;
}
.height265 {
	height: 265px;
}

/* 字体颜色 */
.cl-orange {
	color:#FF5722;
}
.cl-depred {
	color:#CF2D28;
}
.cl-red {
	color:#FF0000;
}
.cl-green {
	color:#4CD964;
}
.cl-gray {
	color:#9E9E9E;
}
.cl-yellow {
	color: #ff9800;
}
.cl-dep-yellow{
	color: #ffff00;
}
.cl-black {
	color:#323232;
}
.cl-white {
	color:#ffffff;
}

/* 背景颜色 */
.whiteBg {
	background-color: #FFFFFF!important;
}
.grayBg {
	background-color: rgb(246, 246, 246);	
}
.depGrayBg {
	background-color: #e5e5e5;
}
.blackBg{
	background-color: #242424;
}

/* 圆角 */
.br10{
	border-radius: 10px;
}







/* 推荐好友 */
.recommended_frend .recommended_code img{
	width:60%;
	height: 150px;
}
.recommended_frend .recommended_code p{
	padding: 3px 0;
	color: #9e9e9e;
	width: 60%;
}
.recommended_frend .mui-btn-block {
	padding: 0;
	border: none;
	color: #FFFFFF;
    background-color: #ff7e00;
}

/* 推荐提成 */
.recommended_commission .recommended_code img{
	width:60%;
	height: 150px;
}
.recommended_commission .recommended_code p{
	padding: 3px 0;
	color: #9e9e9e;
	width: 60%;
}
.recommended_commission .mui-btn-block {
	padding: 0;
	border: none;
	color: #FFFFFF;
    background-color: #ff7e00;
}

/* 系统设置 */
.system_setting .mui-btn-block{
	margin-top: 60px;
	padding: 0;
	border: none;
	color: #FFFFFF;
    background-color: #fb5a5a;
}

/* 服务商家 */
.server_merchant .list{
	height: 105px;
}
.server_merchant .list .mui-btn{
	height: 25px;
	padding: 0;
	width:80px;
	float: right;
	margin-top: 10px;
	background-color: #69d86d;
}
.server_merchant .list div:first-child{
	width:40%;
	margin-right: 10px;
}
.server_merchant .list div:last-child{
	width:54%;
	height: 100%;
	margin-right: 10px;
}
.server_merchant .list img{
	width:100%;
	height:90px;
	border-radius: 10px;
}
.server_merchant .order_by div{
	width:50%;
	text-align: center;
	background-color: #FFFFFF;
	padding: 10px 0;
	border-bottom: 2px solid #F6F6F6;
}
.server_merchant .order_by div:first-child{
	border-right: 1px solid #F6F6F6;
}
.server_merchant .mui-bar {
	-webkit-box-shadow: 0 0px 0px #69d86d;
    box-shadow: 0 0px 0px #69d86d;
}
.server_merchant .mui-col-xs-2 {
    width: 24.666667%;
}
.server_merchant .mui-table-view.mui-grid-view 
.mui-table-view-cell .mui-media-object {
    width: 60%;
    max-width: 60%;
    height: 60%;
}
.server_merchant .mui-table-view.mui-grid-view 
.mui-table-view-cell .mui-media-body {
    margin-top: 0px;
    font-size: 12px;
}

/* 分类页面 */
.categoryPage .mui-search.mui-active:before {
	top:25px;
}
.categoryPage input[type=search] {
    border-radius: 25px;
}
.categoryPage .mui-table-view-cell,
.categoryPage input[type=search] {
    background-color: #ffffff;
}
.categoryPage .mui-table-view-cell{
	padding: 10px 3px 10px 3px;
}
.categoryPage .mui-table-view-cell img {
	border-radius: 5px;
	height:70px;
}
.categoryPage #segmentedControls .mui-active #sel{
	border-left: 3px solid #0add0a;
	height: 30px;
    float: left;
    margin-top: 10px;
}
.categoryPage #segmentedControls .mui-active span{
	color:#ff6963;
}
.categoryPage .mui-table-view-cell div {
	padding-left: 5px;
	padding-bottom: 5px;
	color: #9E9E9E;
}

/* 个人中心 */
.personal_center .mui-bar *,
.personal_center .headImg *{
	color: #FFFFFF;
}
.personal_center .headImg{
	text-align: center;
	background-color: #69d86d;
	padding-bottom: 20px;
}
.personal_center .headImg img{
	width:70px;
	height:70px;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	margin-bottom: 10px;
}
.personal_center .mui-bar-nav {
    -webkit-box-shadow: 0 0px 0px #69d86d;
    box-shadow: 0 0px 0px #69d86d;
}
.personal_center .mui-table-view-cell{
	border-bottom: 1px solid #f6f6f6;
}

/* 关于我们 */
.about_us .mui-bar,
.personal_center .mui-bar{
	background-color: #69d86d;
}
.about_us .mui-bar *{
	color: #FFFFFF;
}
.about_us .logo{
	height:300px;
	text-align: center;
}
.about_us .logo img{
	width:110px;
	height:110px;
	border-radius: 10px;
	margin-top: 70px;
	margin-bottom: 10px;
}

/* 修改手机 */
.phone .mui-btn, button{
	color: #a9a9a9;
	width: 30%;
	height:40px;
}

.phone .mui-btn-block,
.nickname .mui-btn-block{
	width:100%;
	padding: 0;
	background-color: #ff7e00;
	color: #FFFFFF;
	border-radius: 10px;
	border: none;
	font-size: 16px;
}

/* 账户设置 */
.account img {
	width:60px;
	height:60px;
	border-radius: 50%;
}

/* 首页 */
.main .mui-col-xs-2 {
    width: 20.5%;
}
.main .mui-table-view:before {
    height: 0px;
}
.main .hot>div{
	border:1px solid #D3D3D3;
	width:49%;
	float: left;
	margin-bottom: 5px;
}
.main .hot>div:nth-child(odd){
	margin-right: 5px;
}
.main .hot img{
	width:100%;
	height: 130px;
}



/* mui 登录页面 */
.login .mui-checkbox.mui-left input[type=checkbox],
.mui-radio.mui-left input[type=radio] {
	left: 10px
}
.login .mui-checkbox input[type=checkbox]:before,
.mui-radio input[type=radio]:before {
	font-family: Muiicons;
	font-size: 22px;
	font-weight: 400;
	line-height: 1;
	text-decoration: none;
	color: #aaa;
	border-radius: 0;
	background: 0 0;
	-webkit-font-smoothing: antialiased
}
.login .mui-btn-block {
	font-size: 16px;
	display: block;
	width: 100%;
	height:48px;
	margin-bottom: 10px;
	margin-top: 25px;
	padding: 12px 0
}
.login .mui-btn-yellow {
	color: #fff;
	border: 1px solid #FF5722;
	background-color: #FF5722
}
.login input {
	width: 80%;
	padding:5px;
}
.login .mui-input-group .mui-input-row:nth-of-type(2) {
    margin-top: 10px; 
}
.login .mui-input-group:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	/*background-color: #c8c7cc*/
}
.login .mui-input-group .mui-input-row:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1px;
	content: '';
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
	background-color: #c8c7cc
}
.login .mui-input-row label {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 1.1;
    float: left;
    width: 100%;
    padding: 11px 46px;
}
.login .mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	float: right;
	width: 90%;
	margin-bottom: 0;
	padding-left: 0;
	border: 0
}
/*red-dote*/
.red-dote {width: 6px;height: 6px;border-radius: 50%;display: inline-block;background: red;position: absolute;right: 10px;}
/*商家相亲*/
.top-wrap ,.middle-wrap ,.bottom-wrap , .top-wrap-row{background: #fff;}
.top-wrap-img {font-size: 0px;line-height: 0px;}
.top-wrap-row ,.middle-wrap {padding: 15px 15px;}
.top-wrap-row span {font-size: 16px}
.top-wrap-row .mui-icon {color: rgb(88,207,122);font-size: 15px}
.top-wrap-row .distant {border: 1px dotted rgb(88,207,122);border-radius: 16px;font-size: 13px;padding: 0px 8px;}
.middle-wrap {margin-top: 15px;}
.middle-wrap ul {padding: 0 5px;}
.middle-wrap ul li {margin-top: 10px;}
.middle-wrap ul li:nth-of-type(1) {margin-top: 0px;}
.bottom-wrap {margin-top: 10px;padding: 20px 0px;}
.bottom-wrap-title {margin-bottom: 10px;}
.bottom-wrap-title span {padding: 0 75px 0 40px;}
.bottom-wrap-title span:nth-of-type(1) {border-left: 5px solid rgb(88,207,122);border-right: 1px solid lightgray;}
.bottom-wrap-info .p {margin: 15px;text-indent: 30px;}
.bottom-wrap-info .img img{width: 100%;}
.bottom-wrap-cont .hot .mui-col-xs-6 {float: left;}
.bottom-wrap-cont .hot .mui-col-xs-6:nth-child(odd){padding: 3px 3px 3px 0;}
.bottom-wrap-cont .hot .mui-col-xs-6:nth-child(even){padding: 3px 0 3px 3px;}
.bottom-wrap-cont .hot img {width: 100%;}
/*goods-list*/
.goods-list .mui-segmented-control {border-radius: 0px;border: 0px;margin-top: 1px;background: #fff;}
.goods-list .mui-segmented-control .mui-control-item {line-height: 45px;border: 0;color: #000;}
.goods-list .mui-segmented-control .mui-control-item.mui-active {background: none;color: rgb(88,207,122);}
.goods-list .screen-result .mui-col-xs-6{width:49.3%; float: left;background: #fff;margin-bottom: 5px;}
.goods-list .screen-result .mui-col-xs-6:nth-of-type(even){margin-left: 0.7%;}
.goods-list .screen-result .mui-col-xs-6:nth-of-type(odd){margin-right: 0.7%;}
.goods-list .screen-result .mui-col-xs-6 img{width: 100%;float: left;}
.goods-list .mui-search .mui-placeholder {top: 10px;height: 24px;line-height: 24px;}
.goods-list .mui-input-row.mui-search.mui-active:before {height: 24px;line-height: 24px;}
.goods-list .mui-search {width: 270px;margin: auto;}
.goods-list .mui-search input[type=search] {border-radius: 30px;background: rgb(246, 246, 246);}
.goods-list .mui-icon-search:before {color: lightgray;}
/*goods-detail*/
.goods-detail .goods-info {padding:13px 15px 25px 15px;background: #fff;}
.goods-detail .goods-info .name {font-size: 16px;color: #000;padding-bottom: 10px;}
.goods-detail .goods-info .price {color: red;font-size: 25px;padding: 30px 0 20px;font-weight: lighter;}
.goods-detail .goods-bottom {margin-bottom: 60px;}
.goods-detail .goods-bottom-de {padding-top: 5px;background: #fff;}
.goods-detail .goods-bottom-de img{width: 100%;}
.goods-detail .goods-detail-nav {position: fixed;bottom: 0px;width: 100%;background: #fff;}
.goods-detail-nav .mui-col-xs-6 {display: inline-block;}
.goods-detail-nav .mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body {font-size: 10px;color: #8f8f94; margin-top: 0px;}
.goods-detail-nav .mui-table-view.mui-grid-view {padding: 5px 0 5px 0;}
.goods-detail-nav .mui-table-view.mui-grid-view .mui-icon {line-height: 10px;color: #8f8f94;}
.goods-detail-nav .mui-text-center {line-height: 56px;background: red;color: #fff;font-size: 16px}
.goods-detail .mui-slider-indicator.mui-segmented-control {background: #fff;margin-top: 10px;margin-bottom: 1px;}
.goods-detail .mui-segmented-control.mui-segmented-control-inverted .mui-control-item {line-height: 50px;}
.goods-detail .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {border: 0;color: rgb(88,207,122);}
.goods-detail .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active span{padding: 13px 0px; border-bottom:2px solid rgb(88,207,122);}
